<p id="notice"><%= notice %></p>

<style>
         table, th, td {
            border: 1px solid black;
         }
</style>

<h1>Purchases</h1>

<table>
  <thead>
    <tr>
      <th>Credit card</th>
      <th>Phone number</th>
      <th>Address</th>
      <th>Books</th>
      <th>Total price</th>
    </tr>
  </thead>
  <% i = 0 %>
  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.credit_card %></td>
        <td><%= purchase.phone_number %></td>
        <td><%= purchase.address %></td>
        <td>
          <% @books[i].each do |book| %>
            <%= book[0] %>: <%= book[1] %>
            <br>
          <% end %>
        </td>
        <td><%= purchase.total_price %></td>
        <% i = i + 1 %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Home', root_path %>
<br>
<%= link_to 'Logout', destroy_user_session_path %>
