<h1>Nozama Book Shop</h1>
<% if current_admin.present? %>
Welcome, <%= current_admin.name.capitalize %>
<br>
<br>
<%= link_to 'View Books', books_path %><br>
<%= link_to 'View Reviews', reviews_path %><br>
<%= link_to 'Logout', destroy_admin_session_path %><br>
<%= link_to 'Edit Profile', edit_admin_url(current_admin) %><br>
<%= link_to 'Show Profile', admin_path(current_admin) %><br>
<%= link_to 'View all users', users_path %><br>

  <!-- add view all profiles button (when viewing edit users), create user button, and delete user button -->


<% elsif current_user.present? %>
Welcome <%= current_user.email %>
<br>
<%= link_to 'View Books', books_path %>
<br>
<%= link_to 'View Reviews', reviews_path %>
<br>
<%= link_to 'View Cart', cart_details_path %>
<br>
<%= link_to 'View Previous Transactions', purchases_path %>
<br>
<%= link_to 'Logout', destroy_user_session_path %>
<%= link_to 'Edit Profile', edit_user_url(current_user) %>
<%= button_to 'Delete Profile', user_path(current_user), method: :delete, data: { confirm: 'Are you sure?' } %>


<% else %>
Welcome, guest<br>
<%= link_to 'User Login', new_user_session_path %><br>
<%= link_to 'User SignUp', new_user_registration_path %><br>
<%= link_to 'Admin Login', new_admin_session_path %><br>
<% end %>
