<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<% if current_user.present? %>
<p>
  <strong>Quantity:</strong>
  <% quantity = [] %>
  <% (1..@book.stock).each do |i| quantity << [i.to_s, i] %>
  <% end %>
  <%= form_with url: "/cart/add_to_cart", method: :get do |form| %>
    <%= form.hidden_field :book_id, value: @book.id %>
    <%= select_tag(:quantity, options_for_select(quantity)) %>

  <% unless @is_a_admin %>
    <% if @alreadyPresent %>
    <%= form.submit "Update cart" %>
    <% else %> 
    <%= form.submit "Add to cart" %>
    <% end %>
  <% end %>

  <% end %>
</p>
<% end %>


<%= link_to 'Review this book', new_review_path(@book) %>
<br>
<%= link_to 'Back', books_path %>
<br>
<%= link_to 'Home', root_path %>